@font-face {
    font-family: Opensans;
    src: url('../fonts/opensans-bold.eot');
    src: url('../fonts/opensans-bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/opensans-bold.woff') format('woff'),
        url('../fonts/opensans-bold.svg#open_sansbold') format('svg');
    font-weight: 700;
}
@font-face {
    font-family: Opensans;
    src: url('../fonts/opensans-regular.eot');
    src: url('../fonts/opensans-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/opensans-regular.woff') format('woff'),
        url('../fonts/opensans-regular.svg#open_sansregular') format('svg');
    font-weight: 400;
}
@font-face {
    font-family: Opensans;
    src: url('../fonts/opensans-semibold.eot');
    src: url('../fonts/opensans-semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/opensans-semibold.woff') format('woff'),
        url('../fonts/opensans-semibold.svg#open_sanssemibold') format('svg');
    font-weight: 600;
}
@font-face {
    font-family: Opensans;
    src: url('../fonts/opensans-light.eot');
    src: url('../fonts/opensans-light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/opensans-light.woff') format('woff'),
        url('../fonts/opensans-light.svg#open_sanslight') format('svg');
    font-weight: 300;
}
body,
html {
    width: 100%;
    height: 100%;
}

body {
    font-family: OpenSans, sans-serif;
    font-weight: 400;
    background: url('../img/main_bg.jpg') no-repeat center top fixed;
    background-size: cover;
}
img{
    max-width: 100%;
}
.wrapper {
    min-height: 100%;
    margin-bottom: -60px;
}

.wrapper:after {
    content: "";
    display: block;
}

.wrapper:after,
footer {
    height: 60px;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

.container {
    margin: 0 auto;
    padding-right: 23px;
    padding-left: 5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.container_wide {
    width: 1200px;
    padding-right: 0;
}

.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.header {
    background: url('../img/header_bg.jpg') repeat-x;
    border-bottom: 7px solid #fff;
    -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
    height: 97px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 19px;
    width: 100%;
}

.header__logo {
    float: left;
    margin-top: 10px;
    width: 95px;
    overflow: hidden;
    height: 71px;
}
.header__logo a{
    display: block;
}
.text-logo{
    text-indent: -9999px;
    position: absolute;
}
.header__social {
    float: right;
    margin-top: 25px;
    padding-left: 0;
}

.header__social-item {
    text-indent: -9999px;
    list-style: none;
    float: left;
    margin-right: 14px;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border-color:  rgba(195, 194, 194, 27);
    background: -webkit-linear-gradient(90deg, #e9e6e4 0%, #fbf9f9 94%, #ffffff 100%);
    background: linear-gradient(0deg, #e9e6e4 0%, #fbf9f9 94%, #ffffff 100%);
    background-color: #ECEAE8;
    -webkit-box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.31);
            box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.31);
    width: 36px;
    height: 36px;
}
.header__social .header__social-item:last-child{
    margin-right: 7px;
}
.header__social-item .sprite {
    width: 100%;
    height: 100%;
}

.sprite-vk {
    background-position: -160px -64px;
}

.sprite-vk:hover {
    background-position: -160px -114px;
}

.sprite-tw {
    background-position: -60px -116px;
}

.sprite-tw:hover {
    background-position: -108px -116px;
}

.sprite-fb {
    background-position: -36px -5px;
}

.sprite-fb:hover {
    background-position: -84px -5px;
}

.sprite-git {
    background-position: -5px -55px;
}

.sprite-git:hover {
    background-position: -53px -55px;
}


/*

    block Sidebar

*/

.main-content {
    margin-top: 35px;
}

.sidebar {
    width: 250px;
    float: left;
}

.nav__list,
.contacts__list {
    padding: 0;
    margin: 0;
}

.nav__list .nav__list-item:first-child .nav-link {
    border-radius: 3px 3px 0 0;
    border-bottom: none;
}

.nav__list .nav__list-item:last-child .nav-link {
    border-radius: 0 0 3px 3px;
    border-top: 0;
}

.nav__list-item {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: #727070;
    font-size: 20px;
    display: block;
    padding: 14px 14px;
    border: 1px solid #c3c2c2;
    font-weight: 600;
    padding-left: 28px;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
    background: #fbf9f9;
    background: -webkit-linear-gradient(90deg, #e9e6e5 0%, #fbf9f9 94%, #ffffff 100%);
    background: linear-gradient(0deg, #e9e6e5 0%, #fbf9f9 94%, #ffffff 100%);
    -webkit-box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.16);
    box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.16);
}

.nav-link:hover {
    background: #c2c0c0;
    background: -webkit-linear-gradient(90deg, #c2c0c0 0%, #e3e1e1 86%, #e8e7e7 90%, #e8e7e7 100%);
    background: linear-gradient(0deg, #c2c0c0 0%, #e3e1e1 86%, #e8e7e7 90%, #e8e7e7 100%);
}
.nav-link:active{
    color:  #1e7465;
    background: #3eb799;
    background: -webkit-linear-gradient(90deg, #3eb799 0%, #7ee8ce 100%);
    background: linear-gradient(0deg, #3eb799 0%, #7ee8ce 100%);
}
.nav-link.active {
    color:  #1e7465;
    background: #3eb799;
    background: -webkit-linear-gradient(90deg, #3eb799 0%, #7ee8ce 100%);
    background: linear-gradient(0deg, #3eb799 0%, #7ee8ce 100%);
}

.nav__list-item {
    list-style: none;
}


/*

    block Sidebar_contacts

*/

.sidebar__contacts {
    margin-bottom: 35px;
}
.nav{
    margin-bottom: 35px;
    display: block;
}
.contacts__list {
    border-radius: 5px;
    background: #fff;
}

.contacts__list .contacts__list-item:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.contacts__list .contacts__list-item:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 1px solid #d6d5d3;
}

.contacts__list-item.list_heading {
    background: #f4cc7e;
    background: -webkit-linear-gradient(90deg, #dcb15d 0%, #f4cc7e 89%);
    background: linear-gradient(0deg, #dcb15d 0%, #f4cc7e 89%);
    -webkit-box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.17);
    box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.17);
    color: #d0992c;
    font-size: 20px;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
    padding: 10px 10px 7px 28px;
    font-weight: 600;
    border: none;
    line-height: 24px;
    word-wrap: break-word;
}

.contacts__list-item {
    list-style: none;
    background: #fff -webkit-linear-gradient(90deg, rgba(233, 231, 231, 0.45) 0%, rgba(251, 249, 249, 0) 100%);
    background: -webkit-linear-gradient(90deg, rgba(233, 231, 231, 0.45) 0%, rgba(251, 249, 249, 0) 100%);
    background: linear-gradient(0deg, rgba(233, 231, 231, 0.45) 0%, rgba(251, 249, 249, 0) 100%);
    background-color: #fff;
    -webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.35);
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.35);
    border: 1px solid #d6d5d3;
    border-bottom: 0;
    position: relative;
    float: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.contacts__list-item.list_not_heading:hover {
    background: -webkit-linear-gradient(90deg, rgba(224, 197, 145, 0.45) 0%, rgba(251, 249, 249, 0) 100%);
    background: linear-gradient(0deg, rgba(224, 197, 145, 0.45) 0%, rgba(251, 249, 249, 0) 100%);
    background-color: #fff;
}

.contacts-icon {
    width: 54px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.contacts-icon i {
    margin: 0 auto;
}

.contacts-icon .icon_mail {
    background-position: -129px -63px;
    width: 16px;
    height: 12px;
}

.contacts-icon .icon_tel {
    background-position: -34px -116px;
    width: 16px;
    height: 21px;
}

.contacts-icon .icon_skype {
    background-position: -5px -116px;
    width: 19px;
    height: 19px;
}

.contacts-link {
    color: #727070;
    font-size: 13px;
    text-decoration: none;
    padding: 9px 10px 8px 0;
    display: inline-block;
}
.contacts-link:before{
    content: '';
    height: 100%;
    position: absolute;
    left: 48px;
    width: 18px;
    top: 0;
    background: url('../img/right_corner.png') no-repeat;
    background-size: contain;
}
.contacts-link-text{
    margin-left: 40px;
    max-width: 140px;
    display: inline-block;
    word-wrap: break-word;
    vertical-align: middle;
}
.contacts-link:hover span{
    text-decoration: underline;
}
.sprite-bottom{
    background: url('../img/big_social.png');
    background-repeat: no-repeat;
    display: block;
}
.bottom-social {
    text-align: center;
    margin-top: 25px;
    padding: 0;
    margin-bottom: 35px;
    display: none;
}

.bottom__social-item {
    text-indent: -9999px;
    list-style: none;
    display: inline-block;
    width: 23.5%;
}
.bottom__social-item .sprite-bottom{
    width: 70px;
    height: 70px;
    margin: 0 auto;
}
.sprite-bottom-fb{
    background-position: 0px -213px;;
}
.sprite-bottom-fb:hover{
    background-position: -90px -213px;;
}
.sprite-bottom-vk{
    background-position: 0px -141px;;
}
.sprite-bottom-vk:hover{
    background-position: -90px -141px;;
}
.sprite-bottom-tw{
    background-position: 0px -70px;;
}
.sprite-bottom-tw:hover{
    background-position: -90px -70px;;
}
.sprite-bottom-git{
    background-position: 0px -0px;;
}
.sprite-bottom-git:hover{
    background-position: -90px -0px;;
}
/*

    footer

*/

footer {
    background: #fff;
    text-align: center;
    -webkit-box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.1);
    padding-top: 25px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
    position: relative;
    z-index: 9;
    width: 100%;
}

.footer__sign_in {
    float: left;
    color: #9c9c9c;
    font-size: 14px;
    font-weight: 700;
    margin-left: 168px;
}
.footer__sign_in a{
    text-decoration: none;
    color: inherit;
}
.sprite_lock {
    width: 22px;
    height: 21px;
    background-position: -101px -63px;
    float: left;
    margin-right: 5px;
}

.footer__sign_in a:hover .sprite_lock {
    background-position: -157px -33px;
}

.footer__copyright {
    color: #727070;
    font-size: 12px;
    font-weight: 300;
    margin-left: 61px;
}

/*

    content

*/
.content{
    float: right;
    width: 652px;
}
.content__info{
    margin-bottom: 35px;
}
.info_heading{
    color:  #eeedec;
    font-size: 24px;
    padding: 12px 43px 20px;
    line-height: 24px;
    font-weight: 600;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color:  #c3c2c2;
    background: #A2A2A2;
    background: -webkit-linear-gradient(90deg, #7b7878 0%, #a9a8a8 100%);
    background: linear-gradient(0deg, #7b7878 0%, #a9a8a8 100%);
}
.border-radius{
    border-radius:50%;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.info_content{
    padding: 29px 40px 31px 40px;;
    margin: 0 1px;
    background-color:  #f5f4f3;
    border-style: solid;
    border-width: 1px;
    border-color:  #c3c2c2;
    border-top: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.icon__row-work{
    border-radius: 50%;
    background-color:  #f7f7f7;
    -webkit-box-shadow: inset 1px 1px 3px 0px rgba(0,0,0,0.25);
    box-shadow: inset 1px 1px 3px 0px rgba(0,0,0,0.25);
    width: 53px;
    height: 54px;
    display: inline-block;
    vertical-align: middle;
    padding: 18px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.mobile-menu{
    float: left;
    margin-left: 30px;
    margin-top: 9px;
    cursor: pointer;
    list-style: none;
    position: relative;
    z-index: 99;
    display: none;
}
.mobile-menu .line-menu{
    width: 25px;
    height: 5px;
    background: #fff;
    display: block;
}
.mobile-menu .line-menu.second{
    margin: 3px 0;
}
.mobile-menu .line-menu.first{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.mobile-menu .line-menu.third{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.block-ahead-body{
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(178,178,178,0.6);
    cursor: pointer;
    z-index: 99;
    display: none;
}
.header__social.bottom-social{
    display: none;
}
.soc-item-block{
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border-color:  rgba(195, 194, 194, 27);
    background: -webkit-linear-gradient(90deg, #e9e6e4 0%, #fbf9f9 94%, #ffffff 100%);
    background: linear-gradient(0deg, #e9e6e4 0%, #fbf9f9 94%, #ffffff 100%);
    -webkit-box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.31);
            box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.31);
    width: 67px;
    height: 67px;
}
.nav.showMenu{
    position: absolute;
    top: 60px;
    right: 10px;
    width: 210px;
    display: block;
    z-index: 104;
}

::-webkit-input-placeholder {
    color:  #c7c6c6;
    font-size: 12px;
    font-weight: 300;
}

:-moz-placeholder { 
    color:  #c7c6c6;
    font-size: 12px;
    font-weight: 300;
}

::-moz-placeholder {
    color:  #c7c6c6;
    font-size: 12px;
    font-weight: 300;
}

:-ms-input-placeholder {  
    color:  #c7c6c6;
    font-size: 12px;
    font-weight: 300;
}
.success-mess,
.error-mess{
    display: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
    text-align: left;
    margin-bottom: 10px;
    position: relative;
}
.success-mess{
    background-color: rgba(73, 187, 123, 0.33);
    border: 1px solid #49bb7b;
    color: #49bb7b;

}
.error-mess{
    background-color: rgba(203, 105, 69, 0.33);
    border: 1px solid #cb6945;
    color: #cb6945;
}
.bold-message{
    font-weight: 600;
    font-size: 16px;
    display: block;
}

.close-red{
    position: absolute;
    right: 8px;
    top: 8px;
    width: 11px;
    height: 11px;
    background: url('../img/red_close.png') no-repeat center;
    cursor: pointer
}

/*
* tooltips
*/

div.error{
    background-color: #fff;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#d37654), color-stop(89%, #f3a286), color-stop(90%, #f3a287), to(#f3a287));
    background-image: -webkit-linear-gradient(bottom, #d37654 0%, #f3a286 89%, #f3a287 90%, #f3a287 100%);
    background-image: linear-gradient(to top, #d37654 0%, #f3a286 89%, #f3a287 90%, #f3a287 100%);
    border: 1px solid #c3c2c2;
    -webkit-box-shadow: 0 2px 1px rgba(9, 9, 9, 0.17), inset 0 1px 0 rgba(255, 255, 255, 0.25), inset 0 0 3px rgba(246, 247, 247, 0.15);
    box-shadow: 0 2px 1px rgba(9, 9, 9, 0.17), inset 0 1px 0 rgba(255, 255, 255, 0.25), inset 0 0 3px rgba(246, 247, 247, 0.15);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.45);
    position: absolute;
    color: #9a4e32;
    font-size: 12px;
    font-weight: 600;
    padding: 6px 10px;
    top: 44%;
    border-radius: 5px;
    -webkit-transform: translateX(-105%);
    -ms-transform: translateX(-105%);
    transform: translateX(-105%);
    left: 0;
}
div.error:after{
    content: '';
    position: absolute;
    right: -12px;
    top: 9px;
    border: 6px solid transparent;
    border-left: 6px solid #E48E70;
}
/*
* Конец tooltips
*/



@media all and (max-width:1040px){
    
    .container {
        width: auto;
        padding: 0 60px;
    }
    .container.container_wide{
        padding: 0 40px;
    }
    .header{
        height: 67px;
    }
    .header__social{
        margin-top: 10px;
    }
    .header__logo{
        width: 68px;
        margin-top: 5px;
        height: 51px;
    }
    .header__logo img{
        width: 100%;
    }
    .content{
        float: none;
        width: 100%;
    }
    .nav{
        display: none;
    }
    .nav:before{
        content: '';
        position: absolute;
        width: 0;
        top: -16px;
        right: 32px;
        height: 0;
        border-style: solid;
        border-width: 0 11px 16px 11px;
        border-color: transparent transparent #f3f1f1 transparent;
    }
    .mobile-menu:active{
        -webkit-transform: translateY(2px);
            -ms-transform: translateY(2px);
                transform: translateY(2px);
    }
    .contacts__list-item.list_heading{
        display: none;
    }
    .sidebar{
        width: 100%;
        font-weight: normal;
        margin-bottom: 35px;
        
    }
    .contacts__list{
        background: none;
    }
    .contacts__list-item{
        float: left;
        width: 33.23333333%;
    }
    .contacts__list .contacts__list-item:last-child{
        border-radius: 0;
    }
    .contacts-link-text{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 20px;
        width: 60%;
    }
    .contacts-link{
        display: block;
    }
    .footer__sign_in{
        margin-left: 0;
    }
    .mobile-menu{
        display: block;
    }
    div.error,
    #email-error, 
    #captcha-error{
        position: relative;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        text-align: center;
    }
    div.error:after,
    #email-error:before, 
    #captcha-error:before{
        display: none;
    }
}

@media all and (max-width:768px){
    .header__social-item{
        display: none;
    }
    .contacts__list-item{
        width: 100%;
    }
    footer .container{
        padding-left: 10px;
        padding-right: 10px;
    }
    .info_heading{
        font-size: 20px;
        padding: 12px;
    }
    .contacts-link-text{
        font-size: 20px;
        width: 75%;
        max-width: 69%;
    }
    .footer__copyright{
        margin-left: 30px;
        font-size: 11px;
    }
}

@media all and (max-width:640px){
    .header__social.bottom-social{
        display: block;
    }
}

@media all and (max-width:460px){
    .container{
        padding: 0 40px;
    }   
    footer .container{
        padding: 0 10px;
    }
    .footer__copyright{
        font-size: 8px;
        margin-left: 10px;
        float: right;
        margin-top: 7px;
    }
    .bottom-social{
        display: block;
    }
}
@media(min-width:1040px){
    .container {
        width: 988px;
        padding: 0;
    }
}

@media(min-width:1230px){
    .container_wide {
        width: 1200px;
        padding-right: 18px;
    }
}



/*
@media(max-width:992px){
.container{
width: 980px;
padding: 0 5px;
}
}
*/

