.container {
    width: 988px;
    padding: 0;
}
body{
    background: none;
}
.bg-ie {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
    z-index: -2;
}
.bg-ie img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
}

.form-block .input-captcha{
    padding-top: 0;
    line-height: 32px
}
div.error{
    position: relative;
}
div.error:after,
div.error:before{
    display: none;
}