.container {
    width: 988px;
    padding: 0;
}
body{
    background: none;
}
.bg-ie {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
    z-index: -2;
}
.bg-ie img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
}
.error-mess{
    background-color: #CB6945;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=33)";
    
}
.block-ahead{
    background: #6B6969;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    -ms-filter: “alpha(opacity=50)”; 
}
.form-block .input-captcha{
    padding: 0;
}